doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title="All 4 Sale"
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/public/css/main.css")
  body
    include menu
    div.container
        block content
    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.js")
    