nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-taget="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand", href="/") All 4 Sale
        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                each link in links
                    - klass = (link.active ? "active" : "")
                    li(class=klass) 
                        a(href=link.href) #{link.text}